<div class="clearfix"></div>
<footer class="gb-footer" role="contentinfo">
<div class="container">
    <!--p>欢迎光临本站</p>
    <ul class="gb-footer-links">
        <li><a href="/">链接</a></li>
        <li>&middot;</li>
        <li><a href="/">链接</a></li>
        <li>&middot;</li>
        <li><a href="/">链接</a></li>
        <li>&middot;</li>
        <li><a href="/">链接</a></li>
        <li>&middot;</li>
        <li><a href="/">链接</a></li>
    </ul-->
    <p>
        Copyright &copy; 2016 guibiao.cc 保留所有权利
        <a href="http://www.miibeian.gov.cn" target="_blank" class="gb-beian">京ICP备000000000</a>
    </p>
</div>
<script src="/lib/bootstrap-3.3.0/bootstrap.min.js"></script>
<script src="/js/guibiao.js"></script>
</footer>
</body>
</html>
