<div class="clearfix"></div>
<footer class="gb-footer" role="contentinfo">
<div class="container">
    <!--p>Welcome</p>
    <ul class="gb-footer-links">
        <li><a href="/">Link</a></li>
        <li>&middot;</li>
        <li><a href="/">Link</a></li>
        <li>&middot;</li>
        <li><a href="/">Link</a></li>
        <li>&middot;</li>
        <li><a href="/">Link</a></li>
        <li>&middot;</li>
        <li><a href="/">Link</a></li>
    </ul-->
    <p>
        Copyright &copy; 2016 Allidylls
        <a href="http://www.miibeian.gov.cn" target="_blank" class="gb-beian">ICP 00000001</a>
    </p>
</div>
<script src="/lib/bootstrap-3.3.0/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</footer>
</body>
</html>
