<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta name="robots" content="noodp" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="canonical" href="http://www.guibiao.cc/" />
<link rel="home" href="http://www.guibiao.cc/" />
<title>guibia.cc</title>
<meta name="description" content="查看圭表、日晷、人晷、人体、节气、时钟、钟表、太阳、太阳钟、太阳能、太阳系、光伏、光电池、宇宙、天文知识，购买产品，技术咨询和获得服务" />
<link rel="stylesheet" href="/lib/bootstrap-3.3.0/bootstrap.min.css" />
<link rel="stylesheet" href="/css/guibiao.css" />
<script src="/lib/jquery-3.1.1.min.js"></script>
</head>
<body>
<header>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gb-navigation">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GUIBIAO.CC</a>
        </div>
        <div class="collapse navbar-collapse" id="gb-navigation">
            <ul class="nav navbar-nav">
                <li><a href="/">Link</a></li>
                <li><a href="/">Link</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索本站">
                </div>
            </form>
        </div>
    </div>
</nav>
</header>
