{{> header}}
<main>
<section>
    <div id="gb-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#gb-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#gb-carousel" data-slide-to="1"></li>
            <li data-target="#gb-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="/link1">
                    <img src="/img/home-slide-1.jpg" class="gb-carousel-image" alt="Home slide 1" />
                </a>
            </div>
            <div class="item">
                <a href="/link2">
                    <img src="/img/home-slide-2.jpg" class="gb-carousel-image" alt="Home slide 2" />
                </a>
            </div>
            <div class="item">
                <a href="/link3">
                    <img src="/img/home-slide-3.jpg" class="gb-carousel-image" alt="Home slide 3" />
                </a>
            </div>
        </div>
        <a class="left carousel-control" href="#gb-carousel" role="button" data-slide="prev"></a>
        <a class="right carousel-control" href="#gb-carousel" role="button" data-slide="next"></a>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col-sm-3 text-center gb-sudden-box">
            <a href="/link4#section1">
                <img src="/img/home-sudden-1.png" class="gb-sudden-image" alt="Home sudden 1" />
            </a>
        </div>
        <div class="col-sm-3 text-center gb-sudden-box">
            <a href="/link4#section2">
                <img src="/img/home-sudden-2.png" class="gb-sudden-image" alt="Home sudden 2" />
            </a>
        </div>
        <div class="col-sm-3 text-center gb-sudden-box">
            <a href="/link4#section3">
                <img src="/img/home-sudden-3.png" class="gb-sudden-image" alt="Home sudden 3" />
            </a>
        </div>
        <div class="col-sm-3 text-center gb-sudden-box">
            <a href="/link4#section4">
                <img src="/img/home-sudden-4.png" class="gb-sudden-image" alt="Home sudden 4" />
            </a>
        </div>
    </div>
</section>
</main>
{{> footer}}
